
.app.dark{
    --bg-color:rgb(23, 23, 223);
    --inverted-bg-color:rgb(255, 255, 255);

    --primary-color:rgb(15, 173, 68);
    --secondary-color:rgb(9, 59, 26);

    --inverted-primary-color:rgb(76, 15, 173);
    --sinverted-econdary-color:rgb(128, 46, 145);
}