body.dark {
    --bg-color: #121212;
    --inverted-bg-color: #e5e5e5;
    --primary-color: #1e90ff;
    --secondary-color: #adb5bd;
    --accent-yellow-light: #f5a623;
    --accent-yellow-dark: #f7c600;
    --inverted-primary-color: #32cd32;
    --inverted-secondary-color: #20c997;
}
