.app.light {
    --bg-color: rgb(255 255 255);
    --inverted-bg-color: rgb(23 23 223);
    --primary-color: rgb(76 15 173);
    --secondary-color: rgb(128 46 145);
    --inverted-primary-color: rgb(15 173 68);
    --inverted-secondary-color: rgb(9 59 26);
}
