body.light {
    --bg-color: #fff;
    --inverted-bg-color: #1f1f1f;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-yellow-light: #f7c600;
    --accent-yellow-dark: #f5a623;
    --inverted-primary-color: #28a745;
    --inverted-secondary-color: #17a2b8;
}
